/* Navigation bar container */
.navbar-container {
  background-color: rgba(243, 255, 243, 0.9);
  opacity: 90%;
  padding: 0px 50px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Logo container and text */
.logo-container {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: "Ambit", sans-serif;
}
.logo-text-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  color: #023003;
}
.logo-text-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
}
.logo-icon {
  margin-left: 5px;
}
/* Navigation Links */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-left: 30px;
  font-family: "Archivo", sans-serif;
  color: #023003;
  display: flex;
}

/* Navigation Donation BTN */
.nav-btn {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background-color: #5aee55;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  border: 1px solid #5aee55;
  line-height: 22px;
  transition: all 0.6s;
}
.nav-btn:hover {
  cursor: pointer;
  background-color: #e6ffe0;
  color: #5aee55;
  border: 1px solid #5aee55;
}

@media screen and (max-width: 480px) {
  .nav-links {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .navbar-container {
    background-color: white;
    padding: 0px 20px;
    width: 100vw;
    position: fixed;
  }
}
@media screen and (min-width: 480px) {
  .hamburger-btn {
    display: none;
  }
}
