.attribute-section-container {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-bottom: 24px;
  padding-left: 50px;
}

.attribute-content {
  display: flex;
  align-items: center;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hashtag-container {
  padding-left: 86px;
}
.title {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  color: #023003;
}
.title-span {
  color: #5aee55;
}
.hashtags-section {
  display: flex;
  padding: 55px 0px;
}
.left-section {
  margin-right: 20px;
}
.hashtag-card {
  width: 300px;
  height: fit-content;
  background-color: #f3fff3;
  border-radius: 25px;
  padding: 20px;
  margin-top: 20px;
}
.hashtag {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #5aee55;
  margin-bottom: 5px;
}
.content {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #023003;
}

@media screen and (max-width: 480px) {
  .attribute-section-container {
    padding-left: 0;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .title {
    font-size: 40px;
    line-height: 46px;
  }
  .top {
    flex-direction: column;
  }
  .attribute-content {
    flex-direction: column;
  }
  .hashtags-section {
    flex-direction: column;
    padding: 20px 0px;
  }
  .content {
    font-size: 13px;
    line-height: 16px;
  }
  .hashtag {
    font-size: 20px;
    line-height: 22px;
  }
  .hashtag-container {
    padding-left: 0;
    margin-top: 20px;
  }
  .hashtag-card {
    width: 320px;
  }
}
