.carousel-section-container {
  overflow: hidden;
  margin-bottom: 50px;
}
.top-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.title {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  margin-bottom: 8px;
}
.title-span {
  color: #5aee55;
}
.subtitle {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 800px;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .carousel-section-container {
    margin: auto;
    padding: 20px;
    /* background-color: red; */
  }
  .carousel-cards-container {
    display: none;
  }
  .mobile-carousel-cards-container {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 40px;
    line-height: 46px;
  }
  .subtitle {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .mobile-carouseld-cards-container {
    display: none;
  }
}
@media only screen and (max-width: 820px) and (min-width: 481px) {
  .top-container {
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
  }
  .subtitle {
    width: 100%;
  }
}
