.page-container {
  padding-top: 120px;
  display: flex;
  padding-right: 50px;
  margin-bottom: 80px;
}
.left-section {
  margin-right: 80px;
}
.contact-us {
  padding-left: 50px;
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 77px;
  line-height: 89px;
  margin-bottom: 100px;
  color: #5aee55;
}

.right-section {
  width: 650px;
  padding: 20px 30px;
}
.contact-us-span {
  color: #5aee55;
}
.form-title {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #023003;
}
.form-subtitle,
.fill-form {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #023003;
}
.tell-us {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.input-label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 5px;
  color: #023003;
}
.input {
  padding: 15px;
  gap: 10px;
  outline: none;
  width: 500px;
  height: 52px;
  border: 2px solid #5aee55;
  border-radius: 25px;
  font-size: 18px;
  color: #023003;
}
.input::placeholder {
  font-style: italic;
  font-size: 14px;
}
.text-area {
  border: 2px solid #5aee55;
  border-radius: 25px;
  font-size: 16px;
  color: #023003;
  outline: none;
  font-family: sans-serif;
  padding: 15px;
}
.text-area::placeholder {
  font-size: 14px;
  font-style: italic;
}
.volunteer-btn {
  width: 500px;
  height: 47px;
  border: none;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #f3fff3;
  background: #5aee55;
  margin-top: 20px;
  border-radius: 25px;
}
.volunteer-btn:hover {
  cursor: pointer;
}
.bottom-left {
  padding-left: 50px;
  margin-top: 200px;
}
.location {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #023003;
  margin-bottom: 5px;
}
.location-span {
  color: #5aee55;
}
.find-us {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  color: #023003;
}
.address,
.tel,
.msg,
.email {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #023003;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .page-container {
    flex-direction: column;
    padding: 100px 20px 20px 20px;
    margin-bottom: 0;
  }
  .contact-us {
    padding: 0;
    text-align: center;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
  }
  .contact-us-image {
    display: none;
  }
  .mobile-contact-us-image {
    margin-top: 20px;
  }
  .left-section,
  .right-section,
  .input,
  .volunteer-btn {
    width: 100%;
  }
  .left-section {
    margin: 20px auto;
  }
  .right-section {
    padding: 0;
  }
  .form-title {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
  }
  .tell-us,
  .fill-form {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }
  .tell-us {
    margin-top: 5px;
  }
  .fill-form {
    margin-top: 15px;
  }
  .icon-container {
    width: 43px;
    margin: 20px auto;
  }
  .label {
    font-size: 13px;
    line-height: 14px;
  }
  .volunteer-btn {
    font-size: 15px;
    line-height: 16px;
  }
  .bottom-left {
    padding-left: 20px;
    margin-top: 20px;
  }
  .location {
    font-size: 40px;
    line-height: 46px;
  }
  .address,
  .tel,
  .email,
  .find-us,
  .msg {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (min-width: 480px) {
  .mobile-contact-us-image {
    display: none;
  }
}

@media only screen and (max-width: 820px) and (min-width: 481px) {
  .page-container {
    margin-bottom: 50px;
    padding-right: 20px;
  }
  .left-section {
    width: 50%;
    margin-right: 20px;
  }
  .right-section {
    width: 50%;
    padding: 0;
  }
  .input,
  .volunteer-btn {
    width: 100%;
  }
  .contact-us {
    padding-left: 20px;
  }
  .bottom-left {
    margin-top: 300px;
    padding-left: 20px;
  }
}
