.donate-page-content {
  display: flex;
  padding-top: 120px;
  padding-right: 50px;
}
.left-section-title {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 77px;
  line-height: 89px;
  text-align: center;
  color: #5aee55;
}
.right-section {
  width: 560px;
  padding: 20px 30px;
}
.contact-us-span {
  color: #5aee55;
}
.form-title {
  font-family: "Ambit", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #023003;
}
.form-subtitle,
.fill-form {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #023003;
}
.tell-us {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.input-label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 5px;
  color: #023003;
}
.input {
  padding: 15px;
  gap: 10px;
  outline: none;
  width: 500px;
  height: 52px;
  border: 2px solid #5aee55;
  border-radius: 25px;
  font-size: 18px;
  color: #023003;
}
.input::placeholder {
  font-style: italic;
  font-size: 14px;
}
.text-area {
  border: 2px solid #5aee55;
  border-radius: 25px;
  font-size: 16px;
  width: 500px;
  color: #023003;
  outline: none;
  font-family: sans-serif;
  padding: 15px;
}
.text-area::placeholder {
  font-size: 14px;
  font-style: italic;
}
.monetary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.monetary-btn:hover {
  cursor: pointer;
}
.volunteer-btn,
.monetary-btn {
  width: 500px;
  height: 47px;
  border: none;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #f3fff3;
  background: #5aee55;
  margin-top: 20px;
  border-radius: 25px;
}
.volunteer-btn:hover {
  cursor: pointer;
}
